

body{
background-image:url("pizzahousebackground.jpg");
background-attachment:fixed;
color:white;
text-align:justify;
}
.v{
border: 5px solid pink; 
padding: 15px; 
width: 400px; 
border-radius: 10px;
}

.t
{
	
	margin:1.5% 0% 0% 20%;
}

p.one
{
	float:right;
}
.h1
{
	margin:51px ;
}
.b1{
	box-shadow:inset 0 0 10px #777777;
}

button
{
	height:50px;
	width:70px;
	color:red;	
	cursor:auto;
}
ul
{
	font-size: 155%;
	list-style-type:none;
	text-decoration:none;
}
div ul
{
	margin:70px 10px 0px 0px;
	text-decoration:none;
	background-color:red;
	display:inline-block;
}


a:link
{
	color: deeppink;
}
a:hover
{
	color: white;
}
a:visited
{
	color: yellow;
}
a:active
{
	color:green;
}

.i1{
	img.align:left;
	float:left;
	width:800px;
	height:400px;
	
	
}
.i2{
	margin:0px 0px 0px 10px;
	width:850px;
	height:500px;
	align:center;
}

.i2{
	align:center;
	margin:55px 50px 0px 185px;
}

img{
background-position:top right;
background-attachment:fixed;
size:15%;
width:300;
height:80;
}
img.p1{
	width:100%;
	height:150%;
	
}
.s1{
height: 50px; 
width: 225px;
color:white;
background-color:red;
}
#p{
	height:200;
	width:500;
	margin:30px 0px 0px 15px;
}
#d{
	height:200;
	width:500;
	margin: 30px 0px 20px 10px;
}
#s{
	height:200;
	width:500;
	margin:50px 50px 50px 50px;
}
* {
	box-sizing:border-box
	}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


body {
	font: bold 11px/1.5em Verdana;
	}
	
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
	
#tabs {
	float:left;
	width:100%;
	background:#F4F7FB;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #BCD2E6;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#tabs a span {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#627EB7;
	}

#tabs a span {float:none;}
